<html>
    <head></head>
    <body>
        <h1>Hashtag Summary</h1>
        <p>Below is a summary the top 10 latest Tweets that match your hastag.</p>
        <p>To search for a different hashtag, simply set the url to: ../latest/&lt;your-tag&gt;</p>

        <table border="1" cellpadding="2" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>Posted By</th>
                <th>Tweet</th>
            </tr>
            <?php foreach ($summaries as $summary): ?>
            <tr>
                <td> <?php echo $summary['id']; ?></td>
                <td> <?php echo $summary['created']; ?></td>
                <td> <?php echo $summary['posted_by']; ?></td>
                <td> <?php echo $summary['text']; ?></td>
            </tr>
            <?php endforeach; ?>
        </table>
</html>