<html>
    <head></head>
    <body>
        <h1>Welcome to the Twitter API Test</h1>
        <p>This is a simple web service for testing out and playing with Twitter Feeds.</p>
        <p>You can test out this via your browser by clicking the below link. To search for a particular
            hashtag, simply set the url to: ../latest/&lt;your-tag&gt;</p>
        <p><a href="/latest/worldcup">Latest World Cup tweets...</a></p>
        <p>Alternatively, use the link below to test out the service via it's API (although it is recommended to use a
            tool such as <a href="https://www.getpostman.com/" target="_blank">Postman</a> to test out the API).</p>
        <p><a href="/api/latest/worldcup">Latest World Cup tweets...</a></p>
    </body>
</html>
